<div class="hero-section">
  <div class="hero-container">
    <h4>My IP Address is ?</h4>
    <div class="address-container">
      <p>IPV4: 192.168.1.1</p>
    </div>
    <div class="address-container">
      <p>IPV4: 192.168.1.1</p>
    </div>
    <div class="show-more">
      <h5>show more details</h5>
      <div class="show-more-btn">
        <a mdbBtn [floating]="true" size="lg" href="#ip-section" mdbWavesEffect>
          <i class="fas fa-caret-down"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="ip-section container" id="ip-section">
  <div class="row">
    <div class="col-sm-5 ip-details">
      <mdb-card>
        <mdb-card-body>
          <ul>
            <li>Hostname:</li>
            <li>Decimal:</li>
            <li>ISP:</li>
            <li>Organization:</li>
            <li>Services:</li>
            <li>Continent:</li>
            <li>Country:</li>
            <li>State/Region:</li>
            <li>City:</li>
          </ul>
          <ul class="res">
            <li>192.156.34.5</li>
            <li>1887844417</li>
            <li>Sri Lanka Telecom</li>
            <li>Sri Lanka Telecom</li>
            <li>None detected</li>
            <li>Asia</li>
            <li>Sri Lanka</li>
            <li>Central</li>
            <li>Kandy</li>
          </ul>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-sm-7 ip-map">

    </div>
  </div>
</div>

