.hero-section {
  height: 90vh;
  background-color: #2F78C0;
  display: flex;
  justify-content: center;
  align-items: center;
  .hero-container {
    color: white;
    text-align: center;
    width: 40%;
    height: 40%;
    @media (max-width:990px) {
      width: 80%;
    }
    h4 {
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.15em;
    }
    .address-container {
      background: #376491;
      p {
        padding: 10px;
        font-size: 20px;
      }
    }
    .show-more {
      margin-top: 60px;
      h5 {
        letter-spacing: 0.15em;
        font-size: 15px;
        line-height: 28px;
        font-weight: bold;
      }
      .show-more-btn {
        transition: 0.9s;
        :hover {
          background-color: #376491;
        }
        a {
          text-decoration: none;
          color: white;
        }
      }
    }

  }
}

.ip-section {
  margin-top: 10vh;
  height: 80vh;
  .ip-details {
    mdb-card {
      background-color: #2F78C0;
      height: 50vh;
      display: flex;
      justify-content: space-between;
      mdb-card-body {
        display: flex;
        justify-content: flex-start;
        ul {
          list-style: none;
          li {
            line-height: 30px;
            color: white;
          }
        }
        .res {
          margin-left: 50px;
          li {
            font-weight: bold;
          }
        }
      }

    }
  }
  .ip-map {
  }
}
