<!-- Footer -->
<footer class="page-footer font-small pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">


      <!-- Grid column -->
      <div class="col-md-9 mb-md-0 mb-3">


          <ul class="list-unstyled">
            <li>
              <a href="#!">Contact us</a>
            </li>
            <li>
              <a href="#!">About us</a>
            </li>
            <li>
              <a href="#!">Privacy & Policies</a>
            </li>
            <li>
              <a href="#!">Term & Conditions</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">


          <ul class="list-unstyled">
            <li>
              <h6>Follow us on:</h6>
            </li>
            <li>
              <a href="#!"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
            </li>
            <li>
              <a href="#!"><mdb-icon fab icon="linkedin"></mdb-icon></a>
            </li>
            <li>
              <a href="#!"><mdb-icon fab icon="instagram"></mdb-icon></a>
            </li>
            <li>
              <a href="#!"><mdb-icon fab icon="google-plus-g"></mdb-icon></a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> whatsmyip.io</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
